extends layout

block head
    title= stopNameAndDirection
    meta(http-equiv="refresh", content='60')
    style
        .big {
            font-size: 20px;
        }


block body
    .container
        | Currently: #{currentTime}<br/>
        | Stop: #{stopNameAndDirection}<br/>
        | Selected route: #{selectedRoute}<br/><br/>

        | <table class="table table-striped table-bordered" width="auto">
        each p in predictions
            | <tr>
            | <td><strong><span class="big">##{p.route} #{p.directionCode}</span></strong><br/> to #{p.destination}</td>
            | <td><strong><span class="big">#{p.minutesAway} min</span></strong><br/> #{p.arrivalTimeString}</td>
            | </tr>
        | </table>

        | <br/>
        | Page auto-refreshes every 60 seconds.<br/>
        | <a href="/">Back to homepage</a>
