extends layout

block head
    title Stops for #{routeNameAndDirection}

block body
    .container
        | #{ routeNameAndDirection }<br/><br/>
        | Choose your stop:<br/>
        each s in stops
            | <a href="/s/#{s.stopId}?rt=#{routeDirectionCode}">#{s.stopName}</a><br/>
        | <br/><a href="/">Back to homepage</a>
